.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;

  /*first add flex container*/
  display: flex;
  /*aligns to vertical center*/
  justify-content: center;
  /*aligns to horizontal center*/
  align-items: center;
  /*must use both to align to complete center*/
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;

}